// _card.scss

@use 'variables' as *;

// .card-container {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
//     justify-content: center;
// }

// _card.scss
.card {
    background-image: url('../img/with-title__back.png');
    width: 200px;
    aspect-ratio: 9 / 16;
    // 2. これが魔法の1行！枠いっぱいに隙間なく広げる
    background-size: cover;
    // 3. 画像のどこを中央にするか（上下左右センター）
    background-position: center;

    // さっきの変数を活用！
    border-radius: $border-radius;
    padding: 20px;
    box-shadow: $box-shadow;

    &:hover {
        transform: scale(1.008);
        transition: transform $transition-duration, box-shadow $transition-duration;
    }
}