$bg-primary: #121212; // 真っ黒に近いグレー
$bg-secondary: #1E1E1E; // カードの背景
$accent-color: #FF6B00; // 鮮やかなオレンジ（やる気スイッチ）
$text-main: #FFFFFF;
$text-sub: #A0A0A0;
$status-hot: #FF4757; // 追い込み・警告

$accent-pri: #4082FE;
$accent-sec: #57A1FC;
$gradient-light: #898989;
$gradient-dark: #232323;
$base-white: #DFDFDF;
$base-gray: #9D9D9D;
$base-black: #5E5E5E;

$font-family: 'Noto Sans JP', sans-serif;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;
$border-radius: 8px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$transition-duration: 0.7s;
$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1200px;